/*<!-- head头部 -->*/
.head{
	width: 100%;
	height: 36px;
	background: #0d0d0d;
	min-width: 1015px;
}
.box{
	width: 1015px;
	height: 100%;
	margin:0 auto;
	line-height: 36px;
	display: block;
}
.box span.huanying em{
	color: #ff6e27;	
}
.box span.huanying{	
	float: left;
	line-height: 36px;
	color: #6b6b6b;
	font-size: 14px;	
}
ul.shouye{
	width: 300px;
	height: 100%;
	float: right;
}
ul.shouye li{
	float: left;
	width: 71px;
	height: 100%;
	line-height: 36px;
	padding-left: 23px;
}
ul.shouye li img{
	float: left;
	padding-right: 6px;
	margin-top: 11px;
}
ul.shouye li a{
	font-size: 12px;
	color:#6b6b6b;
}
/*<!-- 导航部分	 -->*/
.NAV{
	width: 100%;
	height: 103PX;
	background: #1a1a1a;
	min-width: 1015px;
	background-image: url(../img/nav.png);
	background-repeat: repeat-x;
}
.nav{
	width: 1015px;
	height: 100%;
	margin: 0 auto;
	position: relative;
}
.logo{
	position: absolute;
	left: 13px;
	top: 26px;
}
ul.navul{
	width: 610px;
	height: 100px;
	position: absolute;
	top: 0;
	right: 0;
	cursor: pointer;
}
ul.navul li{
	width: 87px;
	height: 100%;
	float: left;
}
ul.navul li a{
	width: 87px;
	height: 100%;
	float: left;
}
.navul li.nav1 a{
	background-image: url(../img/1.png);
	background-repeat: no-repeat;
}
.navul li.nav1 a:hover{
	background-image: url(../img/2.jpg);
	background-repeat: no-repeat;
}
.navul li.nav2 a{
	background-image: url(../img/2.png);
	background-repeat: no-repeat;
}
.navul li.nav2 a:hover{
	background-image: url(../img/3.jpg);
	background-repeat: no-repeat;
}
.navul li.nav3 a{
	background-image: url(../img/3.png);
	background-repeat: no-repeat;
}
.navul li.nav3 a:hover{
	background-image: url(../img/4.jpg);
	background-repeat: no-repeat;
}
.navul li.nav4 a{
	background-image: url(../img/4.png);
	background-repeat: no-repeat;
}
.navul li.nav4 a:hover{
	background-image: url(../img/5.jpg);
	background-repeat: no-repeat;
}
.navul li.nav5 a{
	background-image: url(../img/5.png);
	background-repeat: no-repeat;
}
.navul li.nav5 a:hover{
	background-image: url(../img/6.jpg);
	background-repeat: no-repeat;
}
.navul li.nav6 a{
	background-image: url(../img/6.png);
	background-repeat: no-repeat;
}
.navul li.nav6 a:hover{
	background-image: url(../img/7.jpg);
	background-repeat: no-repeat;
}
.navul li.nav7 a{
	background-image: url(../img/7.png);
	background-repeat: no-repeat;
}
.navul li.nav7 a:hover{
	background-image: url(../img/8.jpg);
	background-repeat: no-repeat;
}
/*<!-- banner部分 -->*/
.banner{
	width: 100%;
	height: 354px;
	background-image: url(../img/banner.png);
	background-repeat: no-repeat;
	min-width: 1015px;
	background-position: center;
}
.banner-box{
	width: 1015px;
	height: 354px;
	margin:0 auto;
	position: relative;
}
.banner-top{
	width: 1015px;
	height: 323px;
	overflow: hidden;
	position: absolute;
}

.banner-top li{
	position: absolute;
	left: 0;
	top: 0;
	overflow: hidden;
	opacity: 0;
}
.banner-top li.bannerimg{
	opacity: 1;
}
.lunbo{
	width: 100%;
	height: 29px;
	background: #f3640e;
	/*background: #ff0;*/
	position: absolute;
	left:0;
	top: 323px;
}
.lunboul{
	padding:11px 0 0 509px;
}
.lunboul li{
	width: 8px;
	height: 8px;
	margin-right: 15px;
	/*background: #0ff;*/
	float: left;
	background-image: url(../img/li.png);
	background-repeat: no-repeat;
	background-position: center center;
	cursor: pointer;
}

li.one{
	background-image: url(../img/li_hover.png);
}
/*<!-- bannerEnd -->*/
.end{
	width: 100%;
	height: 11px;
	border-top:1px solid #484848;
	min-width: 1015px;
	background: #1A1A1A;	
}
/*<!-- 品牌介绍 -->*/
.pinpai{
	width: 100%;
	height: 254px;
	background: #1A1A1A;
}
.con{
	width: 1015px;
	height: 254px;
	margin: 0 auto;
	background-image: url(../img/body.png);
	background-repeat: no-repeat;
}
.conul{
	padding-top: 54px;
	/*background: #f00;*/
}
.conul li{
	width: 312px;
    height: 170px;
    float: left;
    padding-left: 20px;
}
.conul li a{
	width: 312px;
    height: 170px;
    display: block;
}
.con1 a{
	background-image: url(../img/zhong.jpg);
	background-repeat: no-repeat;
}
.con1 a:hover{
	background-image: url(../img/zhong.png);
	background-repeat: no-repeat;
}
.con2 a{
	background-image: url(../img/zhong1.jpg);
	background-repeat: no-repeat;
}
.con2 a:hover{
	background-image: url(../img/zhong2.jpg);
	background-repeat: no-repeat;
}
.con3 a{
	background-image: url(../img/zhong4.png);
	background-repeat: no-repeat;
}
.con3 a:hover{
	background-image: url(../img/zhong3.png);
	background-repeat: no-repeat;
}
/*<!-- 尾部 -->*/
.foot{
	width: 100%;
	height: 65px;
	padding: 10px 0;
	background: #0a0a0a;
	border-top: 1px solid #262626;
}
.footbox{
	width: 1015px;
	height: 100%;
	margin: 0 auto;
}
.footbox ul.left{
	margin-top: 3px;
	float: left;
}
.footbox ul.left li{
	float: left;
	margin-right: 2px;
}
div.right{
	width: 600px;
	height: 60px;
	float: left;
	margin-top: 8px;
	margin-left: 45px;
}
ul.top{
	width: auto;
	height: 24px;
	font-family: "宋体";
}
ul.top li{
	float: left;
	margin-right: 6px;
	font-size: 13px;
	line-height: 24px;
	color: #666;
}
ul.top li a{
	line-height: 24px;
	color: #666;
}
p.banquan{
	font-size: 12px;
	color: #666;
}
p.banquan a.jin{
	color: #666;
	line-height: 24px;
	font-size: 12px;

}
/*品牌介绍*/
/*<!-- banner -->*/
.hyx-banner{
	width: 100%;
	height: 304px;
	background-image: url(../img/zy_ban.png);
	background-repeat: no-repeat;
	min-width: 1015px;
}
.hyx-bannerimg{
	width: 1015px;
	height: 100%;
	margin:0 auto;
	background-image: url(../img/er1.jpg);
	background-repeat: no-repeat;
}
/*<!-- 行 -->*/
.hyx-kk1{
	width: 100%;
	height: 12px;
	background: #1A1A1A;
	min-width: 1015px;

}
/*<!-- 分类导航-->*/
.hyx-box{
	width: 100%;
	height: 1426px;
	min-width: 1015px;
	background: #1A1A1A;
}
.hyx-nav{
	width: 1015px;
	height: 100%;
	margin:0 auto;

}
.hyx-left{
	width: 232px;
	height: 527px;
	float: left;
	background-image: url(../img/sub.png);
	background-repeat: no-repeat;
}
.hyx-left ul{
	padding-top: 85px;
	padding-bottom: 30px;
}
.hyx-left ul li{
	width: 232px;
    height: 43px;
    text-align: center;
    line-height: 34px;
    font-family: "微软雅黑";
    background-image: url(../img/ub.png);
    background-repeat: no-repeat;
    background-position: 0 34px;
}
.hyx-left ul li a{
	width: 232px;
	font-size: 12px;
    height: 43px;
    display: block;
    color: #8e8b8a;
}
.hyx-left ul li:hover{
	width: 225px;
	height: 40px;
	background: #F8921D;	
}
.hyx-left ul li:hover a{
	font-size: 16px;
	color: #333;
}
.hyx-right{
	width: 765px;
	height: 100%;
	float: right;
	/*background: #f00;*/
}
.hyx-title{
	width: 100%;
	height: 39px;
	background-image: url(../img/title.png);
	background-repeat: no-repeat;
	 margin-top: 12px;
}
.hyx-span{
	width: 125px;
	height: 40px;
	float: left;
    padding-left: 19px;
    font-family: "微软雅黑";
    font-size: 14px;
    color: #f1f1f1;
}
.hyx-span em{
	font-size: 10px;
    color: #7d7d7d;
    padding-left: 5px;
    float: none;
    line-height: 40px;
    font-weight: normal
}
